
.user_icon {
    float: left;
    width: 80px;
    height: 80px;
}

.username {
    float: left;
    margin-top: 17px;
    margin-left: 8px;
}

.indent-by-65 { margin-top: 65px; }

.float_left { float: left; }
