{% extends "base.html" %}
{% block content %}
        <div class="one-third column">
            <h3>What does it do?</h3>
            <p>API Buf.fr was born when i encountered a problem with some web-based pseudo-RESTful API's. Stability. Suffice to say, i mistakinly overloaded a public API during development <!-- To my own detriment, i managed to take down the sales server for a popular regional gaming event whilst testing a simple <span title="Asynchronous javascript and JSON">AJAJ</span> ticket sales count. This resulted in three hours of down; unacceptable. Of course i could do nothing to fix it from my end. BUT. When i next presented the script to the gaming event staff, --> i had added a buffer. For the API. An API Buf.fr :D</p>
        </div>
        <div class="one-third column"> 
            <h3>What do i need?</h3>
            <p>API Buf.fr is fairly simply to setup, but there are some requirements:</p>
            <ul class="square">
                <li><strong>Non-personalized content</strong>: The way this service is envisioned to be used is for content that does not change between users. This is imperative.</li>
                <li><strong>Fast to Start</strong>: It's a tool for rapid development with best practices</li>
                <li><strong>Style Agnostic</strong>: It provides the most basic, beautiful styles, but is meant to be overwritten.</li>
            </ul>
        </div>
        <div class="one-third column">
            <h3>Docs &amp; Support</h3>
            <p>The easiest way to get started with API Buf.fr is to <a href="/addbuffr">give it a go!</a> Unfortunately, though, it is hard to see the effect of API Buf.fr easily.<!--  is to check out the full docs and info at <a href="http://www.getskeleton.com">www.getskeleton.com.</a>. Skeleton is also open-source and has a <a href="https://github.com/dhgamache/skeleton">project on git</a>, so check that out if you want to report bugs or create a pull request. If you have any questions, thoughts, concerns or feedback, please don't hesitate to email me at <a href="mailto:hi@getskeleton.com">hi@getskeleton.com</a>. --></p>
        </div>
{% endblock %}