{% extends "base.html" %}
{% block content %}
        {% ifnotequal user None %}
        <div class="column">
            <img class="user_icon" src="{%if gravatar%}{{gravatar}}{%else%}/images/default_user_80.png{%endif%}"></img>
            <h2  class="username">{{ user.nickname }}</h2>
            <br>
            <ul class="square indent-by-65">
            {% for buffr in all_buffrs %}
                <li>
                    <h4>{{ buffr.apiName }}</h4>
                    <!-- {{ buffr.apiAddress|safe }} -->
                    Updated every {{ buffr.user_readable_update_interval }}.<br>
                    Accessable at <a href="http://web-sniffer.net/?url={{ currentAddress }}/api/v1/{{ buffr.end_point }}&submit=Submit&http=1.1&gzip=yes&type=GET&uak=11">
                        {{ currentAddress }}/api/v1/{{ buffr.end_point }}
                    </a>
                </li>
            {% empty %}
            <h4>You do not have any Buffr's configured. <a href="/addbuffr">Go create one!<a/></h4>
            {% endfor %}
            <ul>
        </div>
        <script type="text/javascript">
            
        </script>
        {% else %}
        <div class="column">
            <h4>
                <a href="/login?redirect=/user">Please login</a>
            </h4>
        </div>
        {% endifnotequal %}
{% endblock %}
